@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    background-color: slategrey;
    color: white;
    font-family: "Fredoka", sans-serif;
}

a {
    color: bisque;
}