.menu {
	padding-top: 50px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

	width: 200px;
	height: 200px;

	gap: 30px;
	row-gap: 45px;
}

.menu-item {
	aspect-ratio: 1 / 1.6;
	border: 0.5vmin solid rgb(3, 169, 244);
	cursor: pointer;
	position: relative;
	width: 100px;
	display: grid;
	place-items: center;
	border-radius: 20px;
	transition: scale .5s;
}

.menu-item > img {
    border-radius: inherit;
}

.menu-item > #title {
	position: relative;
    transition: bottom .5s ease 0s;
	bottom: 0;
}

.menu-item:hover {
	scale: 1.5;
}

.menu-item:hover > #title {
	bottom: 20px;
}

.cover {
	aspect-ratio: 1 / 1.6;
	display: none;
	position: absolute;
	background-color: white;
	width: 100px;
	border-radius: inherit;
}

#salad {
	grid-column: 1;
	grid-row: 1;
}
#sandwich {
	grid-column: 2;
	grid-row: 1;
}
#pizza {
	grid-column: 3;
	grid-row: 1;
}
#coke {
	grid-column: 1;
	grid-row: 2;
}
#water {
	grid-column: 2;
	grid-row: 2;
}
#icecream {
	grid-column: 1;
	grid-row: 3;
}
#cake {
	grid-column: 2;
	grid-row: 3;
}
