.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/

    width: 200px;
    height: 200px;

    gap: 5px;
}

.menu-item {
    aspect-ratio: 1 / 1.6;
    border: 0.5vmin solid rgb(3, 169, 244);
    cursor: pointer;
    position: relative;
    width: 100px;
  }

/*
#sandwich {
    grid-column: 1;
}

#coke {
    grid-column: 2;
}

#pizza {
    grid-column: 3;
}
*/