body {
    background-color: antiquewhite;
    font-family: monospace;
    width: 100%;
}

#rect1 {
    width: 100%;
    height: 10px;
    background-color: red;
}
#rect2 {
    width: 90%;
    height: 10px;
    background-color: blue;
}
#rect3 {
    width: 80%;
    height: 10px;
    background-color: red;
}
#rect4 {
    width: 70%;
    height: 10px;
    background-color: blue;
}
#rect5 {
    width: 60%;
    height: 10px;
    background-color: red;
}
#rect6 {
    width: 50%;
    height: 10px;
    background-color: blue;
}

input {
    width: 40px;
}

#title {
    width: 80%;
    max-width: 500px;
}

button {
    width: 150px;
    background-color: green;
    border-radius: 10px;
    color: white;
    transition: width 0.4s, background-color 0.4s;
}
button:hover {
    width: 200px;
    background-color: limegreen;
}

.result_entry {
    border: 3px solid darkslategrey;
    border-radius: 10px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.dice_roll {
    font-size: 40px;
    margin: 5px;
}

.attack {
    color: red;
}
.defend {
    color: lightskyblue;
}
