body {
    background-color: darkslategrey;
    color: white !important;
}

.result_entry {
    border: 3px solid white;
}

button {
    background-color:darkseagreen;
}

button:hover {
    background-color:seagreen;
}

.attack {
    color:lightcoral;
}

.defend {
    color:dodgerblue;
}