body {
    background-color: #11B5E4;
    color: #034748;
    background-size: 200%;
    animation: background-pan 25s linear infinite;
}

.menu-item {
    border-color: #1481BA;
}

@keyframes background-pan {
    from {background-position: 0%;}
    to {background-position: -200%;}
}