body {
  font-family: "Fredoka";
}

.menu {
  padding-top: 75px;
  padding-left: 37.5px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  width: 300px;
  height: 300px;

  gap: 75px;
}

.hidden {
  opacity: 0;
}

.menu-item {
  aspect-ratio: 1 / 1.6;
  border: 0.5vmin solid rgb(3, 169, 244);
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 240px;
  display: grid;
  place-items: center;
  border-radius: 30px;
  transition: scale 0.5s;
}

.menu-item > .picture {
  aspect-ratio: 1 / 1;
  position: relative;
  width: 150px;
  border-radius: inherit;
  transition: width 0.5s, bottom 0.5s;
  bottom: 0;
}

.menu-item > .icons > .icon {
  opacity: 0;
  transition: opacity 0.5s ease, scale 0.5s ease;

  position: relative;
  left: 35px;
}

.menu-item > #title {
  position: relative;
  transition: bottom 0.5s ease 0s;
  bottom: 0;
  font-size: 20px;
}

.menu-item > .description {
  transition: opacity 0.75s ease, top 0.5s ease;
  opacity: 0;
  font-size: 15px;

  position: absolute;

  left: 15px;
  top: 40px;
}

.menu-item > .icons {
  position: relative;
  left: -35px;
}

.menu-item:hover {
  scale: 1.5;
}

.menu-item:hover > #title {
	bottom: 20px;
}

.menu-item:hover > .picture {
  width: 112.5px;
  bottom: 4px;
}

.menu-item:hover > .icons > .icon {
  opacity: 1;
}

.menu-item:hover > .description {
  opacity: 1;
  top: 5px;
}

.menu-item:hover > .icons > .icon:hover {
  scale: 1.5;
  /*? DO STUFF ?*/
}

#brownie {
  grid-column: 1;
  grid-row: 1;
}
#pasta_sausage {
  grid-column: 2;
  grid-row: 1;
}
#pizza {
  grid-column: 3;
  grid-row: 1;
}
#coke {
  grid-column: 1;
  grid-row: 2;
}
#water {
  grid-column: 2;
  grid-row: 2;
}
#icecream {
  grid-column: 1;
  grid-row: 3;
}
#cake {
  grid-column: 2;
  grid-row: 3;
}

#brownie > #title {left: 20%;}
#brownie > .description {top: 10px;}
/*?#pasta_sausage > #title {left: 20%;} ?*/
#pasta_sausage > .description {top: 15px;}
/*? #pizza > #title {left: 20%;} *?/
/*? #pizza > .description {top: 10px;} */
/*? #coke > #title {left: 20%;} ?*/
#coke > .description {top: 15px;}

/*?  CREDITS  ?*/
