body {
    background: linear-gradient(
        60deg,
        darkslategrey,
        lightslategrey,
        darkslategrey
    );
    color: white;
    background-size: 100%;
    /*animation: background-pan 25s linear infinite;*/
}

.menu-item {
    border-color: antiquewhite;
}

@keyframes background-pan {
    from {background-position: 0%;}
    to {background-position: -200%;}
}